body {
  margin: 0;
  /* get rid of scroll bars */
  overflow: hidden;
  background: gray;
}

h1 {
  font-family: sans-serif;
}

.container {
  background: ;
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.notebook {
  display: flex;
  /* this is absolute so things can position relatively to it later */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: right;
  border: 1px solid black;
  background: gray;
  margin: 100px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px;
  /* border: 1px solid green; */
}

#emoji-container {
  position: absolute;
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sticker {
  border-radius: 50%;
  background-color: #FFF;
  width: 10vw;
  text-align: center;
  position: absolute;
  font-size: 8vw;
  box-shadow: 0px 0px 1px;
}
/* the three columns of the notebook */

.col1 {
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgb(138,107,255,1) 0%, rgb(81,65,143,1) 65%);
  width: 5%;
  border-radius: 15px 0 0 15px;
}

.col2 {
  background: white;
  width: 33%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 1px;
  z-index: 2;
}

.col3 {
  background: rgb(138,107,255);
  background: linear-gradient(90deg, rgba(138,107,255,1) 0%, rgba(203,97,209,1) 65%);
  width: 65%;
  border-radius: 0 15px 15px 0;
}

/* the branding on the notebook flap */

.sidelogo {
  /* border: 1px solid red; */
  margin: auto;
  height: 35%;
  padding-right: 20px;
  position: relative;
  float: right;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* the four ad label rows */

.row1 {
  background: #FFF;
  height: 10%;

}

.binder-size {
  height: 85%;
  width: 40%;
  background-color: green;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  float: right;

}

.row2 {
  background: #8ef6e4;
  height: 15%;
}

.row3 {
  background: #d59bf6;
  height: 70%;
}

.row4 {
  background: #8ef6e4;
  height: 5%;
}

.clasp-container {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  float: right;
  position: absolute;
  display: flex;
  justify-content:flex-end;
  /* background: pink; */
}

.clasp-lip {
  width: 5%;
  /* position: absolute; */
  /* background: blue; */
  /* height: 100%; */
  border-right: 20vw solid rgb(138,107,255);;
  border-bottom: 12vw solid transparent;
  border-top: 12vw solid transparent;
}

.clasp-end {
  width: 10%;
  /* border: 1px solid yellow; */
  background: linear-gradient(270deg, rgb(81,65,143,1) 0%, rgb(138,107,255,1) 45%);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.shadow-container {
  position: absolute;
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
}

.shadow-col1 {
  width: 1%;
}

  .shadow-col2 {
  /* border: 1px solid yellow; */
  /* background: rgb(255,255,255); */
  /* background: linear-gradient(270deg, rgb(138,107,255,1) 0%, rgb(81,65,143,1) 65%); */
  /* height: 100%; */
  width: 2%;
  /* border-radius: 15px; */
}

.shadow-col3 {
  width: 94%;
}

.shadow-col4 {
  /* border: 1px solid yellow; */
  /* background: pink; */
  height: 100%;
  width: 3%;
  height: 100%;
  border-radius: 15px;
}

.white-border-container {
  position: absolute;
  display: flex;
}

.white-border {
  border: 2px solid white;
  border-radius: 12px;
  z-index: 5;
  height: 95%;
  width: 95%;
  justify-content: center;
}
